@model EntityDomainViewModel
@{
}
<a href="../AddTrans"> View Existing Transactions</a>

<form method="post" class="addnewentity" asp-action="newadd">
    <br />
    <select asp-for="t.ent">
        @foreach (var i in Model.entitylist)
        {
            <option value="@i.FirstName @i.LastName">
                @i.FirstName @i.LastName
            </option>
        }
    </select>
    <br />
    <select asp-for="t.dom">
        @foreach (var i in Model.domainlist)
        {

            <option value="@i.Name">
                @i.Name
            </option>
        }

    </select>
    <br />
    <div class="form-group">
        <label for="descriptionofentity">Amount of transaction</label>
        <input type="number" asp-for="t.amount" class="form-control" id="nameofentity" placeholder="Enter the Amount">
    </div>
    <br />
    <div class="form-group">
        <label for="descriptionofentity">Transaction Type</label>
        <select asp-for="t.tratype">
            <option value="Debit">Debit</option>
            <option value="Credit">Creidt</option>
        </select>
    </div>
    <br />

    <input type="submit" value="Submit" />

</form>
        <div class="btn-group" role="group" aria-label="Select Payment Method">
            <button type="button" class="btn btn-primary" data-value="debit">Debit</button>
            <button type="button" class="btn btn-primary" data-value="credit">Credit</button>
        </div>

        <!-- Hidden input field to store the selected value -->
        @Html.HiddenFor(model => model.tratype, new { id = "paymentMethodInput" })

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn').click(function () {


                // Enable only the clicked button
                $(this).prop('disabled', false);

                // Set the selected value in the hidden input field
                $('#paymentMethodInput').val($(this).data('value'));
            });
        });
    </script>
}
<form method="post" action="Add" class="mt-5">
    <div class="form-group">
        <label for="tratype">Name of the Entity</label>
        <input type="dropdown" asp-for="ent" class="form-control" id="tratype" aria-describedby="nameofentity" placeholder="Enter Entity First Name">
    </div>
    <br />
@*     @using (Html.BeginForm("Add", "AddTransController", FormMethod.Post, new { id = "paymentForm" }))
    {

    <div class="btn-group" role="group" aria-label="Select Payment Method" id="paymentMethodInput">
            <button type="button" class="btn btn-primary" data-value="debit">Debit</button>
            <button type="button" class="btn btn-primary" data-value="credit">Credit</button>
        </div>

        <!-- Hidden input field to store the selected value -->
       <input asp-for="tratype" type="hidden" id="paymentMethodInput" />

    <!-- Hidden input field to store the selected value -->
     @Html.HiddenFor(model => model.tratype, new { id = "paymentMethodInput" })

     <button type="submit" class="btn btn-primary mt-3">Submit</button>
   </div>
    }
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="integer" asp-for="amount" class="form-control" id="nameofentity" aria-describedby="nameofentity" placeholder="Enter Amount">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
 *@