@model EntityDomainViewModel
@{
}
<a href="../AddTrans"> View Existing Transactions</a>

<form method="post" class="addnewentity" asp-action="newadd">
    <br />
    <select asp-for="t.ent">
        @foreach (var i in Model.entitylist)
        {
            <option value="@i.FirstName @i.LastName">
                @i.FirstName @i.LastName
            </option>
        }
    </select>
    <br />
    <select asp-for="t.dom">
        @foreach (var i in Model.domainlist)
        {

            <option value="@i.Name">
                @i.Name
            </option>
        }

    </select>
    <br />
    <div class="form-group">
        <label for="descriptionofentity">Amount of transaction</label>
        <input type="number" asp-for="t.amount" class="form-control" id="nameofentity" placeholder="Enter the Amount">
    </div>
    <br />
    <div class="form-group">
        <label for="descriptionofentity">Transaction Type</label>
        <select asp-for="t.tratype">
            <option value="Debit">Debit</option>
            <option value="Credit">Creidt</option>
        </select>
    </div>
    <br />

    <input type="submit" value="Submit" />

</form>
